.container {
  text-align: center;
  margin-bottom: 40px;
  .wrapper {
    max-width: 1300px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(312px, 1fr));
    column-gap: 35px;
    row-gap: 40px;
    justify-items: center;
    margin: 0 auto;
  }
}
